@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.footer {
    background-color: rgb(66, 66, 66);
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10rem;
    max-height: 100%; 
    min-height:100%;
}


.footer-container {
    max-height: 100%; 
    min-height:100%;
    display: flex;
    z-index: 2;
    // background-color: #24ff1c;
    width: 100% ;
    height: 10rem;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    vertical-align: center;
}
  
.social-links {
    align-items: center;
    z-index: 2;
    height: 100%;
    width: 60%;
    justify-content: space-evenly;
    display: flex;
}


.social-links a {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    text-align: center;
    text-decoration: none;
    color: rgb(250, 245, 245);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s; 
}

.social-links a .fab {
    z-index: 2;
    font-size: 45px;
    line-height: 5.5rem;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
    cursor: pointer;
}

.social-links a::after {
content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background-color: dimgrey;
    position: absolute;
    transition: 0.5s;
}

.social-links a:hover::after {
    z-index: 2;
    top: 0;
}

.social-links a:hover .fab {
    color: #fff;
}

.social-links a:hover {
    transform: translateY(-10px);
}
