

html, body { 
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    // background-color: #01294b;
}

p{
    font-size: 1.25rem;
}

a{
    font-size: 2rem;
}